*,h1,h2,h3,h4,h5,h6,p,ul,ol {
  margin: 0;
  padding: 0;
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 1.28;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

a:hover {
  color: #B9ff66;
}

h1 {
  font-size: 32px;
}

p {
  font-size: 20px;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
  background-color: #f3f3f3;
  color: #191A23;
}

.header__inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 7px;
}

.wrap-circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.wrap-circle:hover {
  color: #fff;
}

.circle-inside {
  width: 150px;
  height: 150px;
  border: 10px solid #B9ff66;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.circle-inside:hover {
  background: #B9ff66;
  border: 10px solid #fff;
}

.header__img {
  border-radius: 50%;
  border: 1px solid #191A23;
}

.header__name {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  text-transform: capitalize;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  gap: 5px 0;
}








